*{
   margin: 0;
}


table {
    margin: auto;
    border-collapse: collapse;
background: white;
   }
td{
    border: 1px solid black;
    text-align: center;

}
.hour{
    color: black;
     background: rgb(255 253 3);
   
}
#divForm{
    background: green;
  
    background: linear-gradient(to top, rgb(255 213 0) 50%, rgb(0 87 184) 50%);
    height: 60px;
    padding: 10px;
    padding-left: 50px;
}
#rusK{
    font-size: 16pt;
    margin-left: 200px;
    
}
#slava{
   text-align: center;
   font-size: 24pt;
   font-style: italic;
   color: rgb(0 87 184);
   font-weight: bolder;
    
}
.tableName{
    background: rgb(255 253 3);
    text-align: center;
    font-weight: 900;
}
.tableError{
    color:red;
}
.letter{
    color: red;
    font-weight: 900;
}
.tableNone{
    color: red;
    text-align: center;
    border: 2px solid red;
}
.powerTable{
     background: rgb(246 218 217);
}
.legend{
      writing-mode: vertical-rl;
      text-align: center;
      height: 100px;
      font-family: Calibri;
      background: rgb(216 228 192);

}