*{
   margin: 0;
}
body{
    /* background: #87CEEB;
    
    background-image: url(./images/fone.jpg);
    background-repeat: space;
    */
}

table {
    margin: auto;
    border-collapse: collapse;
background: white;
   }
td{
    border: 1px solid black;
    text-align: center;

}
.hour{
    color: black;
     background: rgb(255 253 3);
   
}
#divForm{
    background: green;
    height: 20px;
    padding: 10px;
    padding-left: 50px;
}
.tableName{
    background: rgb(255 253 3);
    text-align: center;
    font-weight: 900;
}
.tableError{
    color:red;
}
.letter{
    color: red;
    font-weight: 900;
}
.tableNone{
    color: red;
    text-align: center;
    border: 2px solid red;
}
.powerTable{
     background: rgb(246 218 217);
}
.legend{
      writing-mode: vertical-rl;
      text-align: center;
      height: 100px;
      font-family: Calibri;
      background: rgb(216 228 192);

}