html {
    position: relative;
    min-height:100%;
    min-width: 90%;
  
  }
body{
    background-color: blanchedalmond;
   

}

.header{
    font-style: italic;
    height: 60px;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: #FFB363;
    color: #11799C;
    border-radius: 0 0 10px 10px;
}
#siteTime{
    background-color: #FFB363;
    margin-top: 5px;
    font-size: 12pt;
   
}
.content{
    text-align: center;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    
   
    
}
.foot{
    border-radius: 10px 10px 0 0;
    height: 50px;
    color: white;
    background-color: #A66520;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}